actividad2.dtd

<!ELEMENT concesionario (coche+)>
<!ELEMENT coche (codigo, marca, modelo, matricula, potencia, plazas, puertas, anio, color, precio)>
<!ELEMENT codigo (#PCDATA)>
<!ELEMENT marca (#PCDATA)>
<!ELEMENT modelo (#PCDATA)>
<!ELEMENT matricula (#PCDATA)>
<!ELEMENT potencia (#PCDATA)>
<!ELEMENT plazas (#PCDATA)>
<!ELEMENT puertas (#PCDATA)>
<!ELEMENT anio (#PCDATA)>
<!ELEMENT color (#PCDATA)>
<!ELEMENT precio (#PCDATA)>
