actividad1/libro.dtd

<!ELEMENT biblioteca (libro+)>
<!ELEMENT libro (titulo, autor, editorial, anio, isbn, genero, idioma, descripcion)>
<!ELEMENT titulo (#PCDATA)>
<!ELEMENT autor (#PCDATA)>
<!ELEMENT editorial (#PCDATA)>
<!ELEMENT anio (#PCDATA)>
<!ELEMENT isbn (#PCDATA)>
<!ELEMENT genero (#PCDATA)>
<!ELEMENT idioma (#PCDATA)>
<!ELEMENT descripcion (#PCDATA)>
